---
report_name: "Account Verification"
product_name: "Reports (AR & Payments)"
report_key: "account_verification"
---

## Description

This report will show when Resident Account Verification detects an invalid account number and prevents a resident from making an echeck payment on the Resident Portal.

## Metadata

- **Report Analyst**: Jessica Miller & Aasawari Naigaonkar
- **Associated ask channel**: #ask-reporting-ar
- **Category**: Payments
- **Support Domain**: Reports
- **Product Requirement**: ResidentPortal, ResidentPay
- **Associated Suite**: N/A