---
report_name: "Schedule Charges Verification"
product_name: "Reports (AR & Payments)"
report_key: "schedule_charges_verification"
---

## Description

Schedule charges verification report

## Metadata

- **Report Analyst**: Jessica Miller & Aasawari Naigaonkar
- **Associated ask channel**: #ask-reporting-ar
- **Category**: System
- **Support Domain**: Reports
- **Product Requirement**: No Product Requirement
- **Associated Product**: Financial Operations - Billing
- **Associated Suite**: Property Ops Experience